.tabs_wrap {
    position: fixed;
    top: 50%;
    z-index: 9999;
    background: #c20e1a;
    padding: 0;
    left: -114px;
    color: white;
    height: 146px;
    cursor: hand;
    cursor: pointer;
    width: 170px;

}
.tabs_wrap span {

    width: 60px;
    height: 146px;
    display: table-cell;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
}
.tabs_wrap ul{
    padding: 0 0 0 20px;
    list-style: none;
    width: 110px;
    float: left;
}
.tabs-primary a {
    font-size: 18px;
     color: #383838;
     text-decoration: none;
 }
.tabs-primary a:hover {
    color: #c20e1a;
    text-decoration: underline;
}
.tabs_wrap:hover {
    left: 0;
}

.tabs_wrap:hover {
    background: #d8d8d8;
}


.tabs_wrap:hover span {


    background: #383838;
}



.messages--status{
    background: orange;
    border: black 1px solid;
}
#l10n-client {
    text-align: left;
    z-index: 99999999 !important;
    line-height: 1em;
    color: #000;
    background: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    overflow: hidden;
}