.messages {
    @include l-grid();
    padding: 10px 20px !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

#first-time {
    @include l-grid();
}

.l-page.admin-menu {

    //  padding-top: 180px;

    .m-navbar {
        @include transform(translateY(60px));

        &.mm-secondary {
            @include transform(translateY(30px));
        }
    }

    .m-navbar ~ .m-mega {
        top: 0;
        @include transform(translateY(180px));
    }
    .m-navbar.is-collapsed ~ .m-mega {
        top: 0;
        @include transition(all 0.2s);
        @include transform(translateY(128px));
    }
}

.m-bulletin {

    input {
        border-color: $primary-color !important;
        border-right: none;
    }
    .button {
        background-color: white;
        color: $color-secondary;
        width: 30px;

        border: 1px solid $primary-color;
        border-left: none;

        &:hover {
            color: $primary-color;
        }

    }
}

.button-group {

    .text-label-button,
    .text-double-button {
        border-left: 1px solid white;
        font-weight: 800;
        text-align: center;

        padding: 0 10px;

        span {
            display: block;
            font-weight: 400;
            text-align: center;
            font-size: rem-calc(12);
        }
        a {
            color: $color-black;
            text-decoration: none;

            &:hover {
                color: $primary-color;
            }
        }

        width: 25%;

        @include media(B) {
            max-width: 148px;
            width: auto;
        }

    }

    .text-label-button {
        width: 100%;
        max-width: none;

        display: inline-block;
        font-weight: 400;
        font-size: rem-calc(12);
        text-align: center;
        margin-bottom: 14px;


        @include media(B) {
            width: auto;
            text-align: right;
            margin-bottom: 0;
        }
    }
}

.l-two-thirds {
    .button-group {
        padding: 0;
        float: left;
        margin-bottom: 20px;

        @include media(C) {
            float: right;
            margin-top: 8px;
            margin-bottom: 0;

        }
    }
}

.slides [class*="m-card"] {
    /*border: 3px solid orangered;
    height: 300px;
    @include media(C) {
    height: 500px;
        }*/

}
