.m-reference {

}

.l-detail-page {

    .m-section--footer {
        margin-top: 50px;
    }

    .m-reference {

        //layout

        & > header {
            @include l-grid();
            margin-bottom: 80px;
            position: relative;
            height: 480px;
        }

        .m-reference--image,
        .m-reference--summary {
            @include column(6/12);
            overflow: hidden;
            height: 100%;
        }

        .m-reference--summary {
            @include move(-6/12);
            position: relative;
        }

        .m-reference--meta {
            position: absolute;
            bottom: 0;
            width: 335px;
        }

        .m-reference--image {
            @include move(6/12);
        }

        .m-reference--description {
            display: none;
        }

        .m-reference--content {
            @include l-grid();

            .m-body--content,
            aside {
                @include column(6/12);
            }
        }



        //styles

        .m-reference--image {
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            img {
                display: none;
            }
            .mm-preview-fit {
                background-size: fit;
            }
        }

        .m-reference--hed {
            font-size: rem-calc(42);
            line-height: 1.3em;
            font-weight: 400;
            margin-top: -.2em;

            a {
                text-decoration: none;
                pointer-events: none;
                color: black;
            }
        }

    }
}
